{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <title>Enumerator</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="title">Enumerator Registration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            
            <form method="post" action='#'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        {{form.prefix | as_crispy_field }}
                    </div>
                    <div class="col-sm">
                        {{form.suffix | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{form.firstName | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{form.lastName | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        {{form.organization | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{form.date_of_birth | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{form.active_flag | as_crispy_field }}
                    </div>
                    {{form.errors}}
                </div>             
                <input type="submit" value="Add" name="Next" class="btn btn-success"/>
            </form>
            
            </div>
        </div>

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>