{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Sign in {% endblock %}
{% block content %}
<div class="container">
        <form class="site-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm text-center"> 
                    {{ form | crispy }}
                    <input type="submit" value="Login" class="btn btn-dark mb-2">
                </div>
            </div>
        </form>
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
            </a>
        </button>
    </div>
</div>
{% endblock %}